.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  padding: 6px 5px;
  background-color: transparent; 
  color: #fdf5f5;
  border: none;
  border-radius:8px 8px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover,
  &:focus {
    background-color: #eb6969;
    outline: none;
  }
}

.material-icons {
  font-size: 30px ;
  color: #fdf5f5;
}
