.main-header {
  background-color: #DC2626;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 1.5rem;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    .welcome-text {
      font-size: 0.9rem;
      color: #333;
    }
    
    .user-icon, .logout-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #666;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #DC2626;
      }

      .material-icons {
        font-size: 24px;
      }
    }
  }
}