<div class="password-input">
  <div class="password-input__wrapper">
    <span class="material-icons password-input__icon">{{ icon }}</span>
    <input
      [type]="getInputType()"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="password-input__field"
      [class.password-input__field--error]="hasError"
    >
    <button
      type="button"
      class="password-input__toggle"
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="showPassword ? 'Ocultar contraseña' : 'Mostrar contraseña'"
    >
      <span class="material-icons">
        {{ showPassword ? 'visibility_off' : 'visibility' }}
      </span>
    </button>
  </div>
</div> 