.register-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
  overflow: hidden;
  color: red;

  app-user-form {
    position: relative; 
    z-index: 1;
  }
}
  