import { Injectable } from '@angular/core';
import { HttpClient, HttpHeaders, HttpErrorResponse } from '@angular/common/http';
import { Observable, throwError } from 'rxjs';


@Injectable({
  providedIn: 'root'
})
export class UsersService {
  private readonly API_URL = `${environment.apiUrlUsers}`;
  private readonly SELLER_ROLE_ID = 3;

  constructor(
    private readonly http: HttpClient,
    private readonly notificationService: NotificationService
  ) {}

  createUser(userData: CreateUserDto): Observable<User> {
    const userWithRole = {
      ...userData,
      role: this.SELLER_ROLE_ID
    };
